* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    margin: 40px;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#active {
    flex: 1;
}

#inactive {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    #main { 
        flex-direction: column;
    }
}

.saga {
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: beige;
}

.saga {
    cursor: pointer;
}

.caps {
    cursor: auto;
}

.link a:visited {
    color: red;
}

.caps {
    display: none;
}

.caps.active {
    display: block;
}